.outline-orange-button {
  position: relative;
  background-color: white;
  color: #ff4d00;
  border: 2px solid #ff4d00;
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
  transition: all 0.3s ease;
  overflow: hidden;
}

.outline-orange-button:hover {
  background-color: seashell;
  border-radius: 5px;
  padding-left: 10px;
}

.outline-orange-button::after {
  content: "";
  font-size: 10px;
  position: absolute;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
  transition: right 0.3s ease;
}

.outline-orange-button:hover::after {
  right: 25px;
}
