.round-textarea {
    outline: none;
    background-color: transparent;
    position: relative;
    outline: none;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 12px 10px;
    font-size: 16px; /* Adjust font size */
  }